/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* PP Mori */
@font-face {
    font-family: 'PPMori';
    font-weight: 200;
    font-style: normal;
    src: url(./fonts/ppmori/PPMori-Extralight.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 300;
    font-style: normal;
    src: url(./fonts/ppmori/PPMori-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/ppmori/PPMori-Book.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 500;
    font-style: normal;
    src: url(./fonts/ppmori/PPMori-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 600;
    font-style: normal;
    src: url(./fonts/ppmori/PPMori-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/ppmori/PPMori-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 800;
    font-style: normal;
    src: url(./fonts/ppmori/PPMori-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 900;
    font-style: normal;
    src: url(./fonts/ppmori/PPMori-ExtraBold.ttf) format('truetype');
}


/* PP Mori Italic */
@font-face {
    font-family: 'PPMori';
    font-weight: 200;
    font-style: italic;
    src: url(./fonts/ppmori/PPMori-Extralight.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 300;
    font-style: italic;
    src: url(./fonts/ppmori/PPMori-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/ppmori/PPMori-Book.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 500;
    font-style: italic;
    src: url(./fonts/ppmori/PPMori-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 600;
    font-style: italic;
    src: url(./fonts/ppmori/PPMori-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 700;
    font-style: italic;
    src: url(./fonts/ppmori/PPMori-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 800;
    font-style: italic;
    src: url(./fonts/ppmori/PPMori-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'PPMori';
    font-weight: 900;
    font-style: italic;
    src: url(./fonts/ppmori/PPMori-ExtraBold.ttf) format('truetype');
}

/* Font weights */
.font-extralight {
    font-weight: 200 !important;
}
.font-light {
    font-weight: 300 !important;
}
.font-book {
    font-weight: 400 !important;
}
.font-regular {
    font-weight: 500 !important;
}
.font-medium {
    font-weight: 600 !important;
}
.font-semibold {
    font-weight: 700 !important;
}
.font-bold {
    font-weight: 800 !important;
}
.font-extrabold {
    font-weight: 900 !important;
}

/* Font style */
.font-italic {
    font-style: italic !important;
}

/* General */
body{ 
    font-family: 'PPMori' !important;
    font-weight: 300;
    color: #ffffff !important;
}

/* Colors */
.bg-gray-1 {
    background-color: #E9E9E9;
}
.bg-gray-2 {
    background-color: #AAAAAA;
}
.bg-gray-3 {
    background-color: #1A1A1A;
}
.bg-lime {
    background-color: #D6F267;
}
.bg-green-1 {
    background-color: #00B841;
}
.bg-green-2 {
    background-color: #02A54B;
}
.bg-yellow {
    background-color: #FFE900;
}
.bg-orange-1 {
    background-color: #FFBA03;
}
.bg-orange-2 {
    background-color: #FF6919;
}
.bg-purple-1 {
    background-color: #E3D5FF;
}
.bg-purple-2 {
    background-color: #C8ACFF;
}
.bg-purple-3 {
    background-color: #AC59F8;
}
.bg-blue-1 {
    background-color: #C0E3FF;
}
.bg-blue-2 {
    background-color: #81C9FF;
}
.bg-blue-3 {
    background-color: #0554EB;
}
.bg-pink-1 {
    background-color: #FFA4DA;
}
.bg-pink-2 {
    background-color: #FF66BB;
}
.bg-red {
    background-color: #FF2222;
}
.bg-neut-1 {
    background-color: #E9D5C4;
}
.bg-neut-2 {
    background-color: #E0B394;
}
.bg-neut-3 {
    background-color: #CC963E;
}
.bg-neut-4 {
    background-color: #93601D;
}
.bg-neut-5 {
    background-color: #873525;
}
.bg-neut-6 {
    background-color: #5E2619;
}
